<a href="https://colab.research.google.com/github/abdullah1-coder/Machine-Learning-Basics/blob/main/project_Movie_Ticket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

MOVIE_FILE = "/content/@0 movies.xlsx"

def load_movies():
    try:
        df = pd.read_excel(MOVIE_FILE)
    except FileNotFoundError:
        df = pd.DataFrame(columns=["MovieID", "MovieName", "TicketPrice", "AvailableSeats", "ShowTime"])
        df.to_excel(MOVIE_FILE, index=False)
    return df

In [ ]:
df = pd.read_excel(MOVIE_FILE)
df.head()

   MovieID          MovieName TicketPrice  AvailableSeats  ShowTime
0    101.0  Avengers: Endgame        1200              80  18:00:00
1    102.0      The Lion King         900              60  15:00:00
2    103.0             Dangal        1000              75  19:30:00
3    104.0           Frozen 2         850              50  13:00:00
4    105.0          Inception        1100              90  21:00:00

In [ ]:
load_movies()

    MovieID                MovieName TicketPrice  AvailableSeats  ShowTime
0     101.0        Avengers: Endgame        1200              80  18:00:00
1     102.0            The Lion King         900              60  15:00:00
2     103.0                   Dangal        1000              75  19:30:00
3     104.0                 Frozen 2         850              50  13:00:00
4     105.0                Inception        1100              90  21:00:00
5     106.0              Baahubali 2         950              70  17:00:00
6     107.0  Spider-Man: No Way Home        1200              85  20:00:00
7     108.0                       PK         900              65  16:00:00
8     109.0              Toy Story 4         800              55  12:00:00
9     110.0           Jurassic World        1100              78  18:45:00
10    111.0              Kabir Singh         950              72  19:00:00
11    112.0                     Coco         850              58  14:00:00
12    113.0          The Dark Knight        1150              88  21:30:00
13    114.0                 Zootopia         850              60  13:30:00
14    115.0                  Pathaan        1000              76  20:15:00
15    116.0                    Moana         830              52  11:30:00
16    117.0                  Titanic        1050              92  17:45:00
17    118.0                 3 Idiots         900              70  16:30:00
18    119.0                    Shrek         780              55  12:45:00
19    120.0                   Avatar        1200              95  20:45:00
20      NaN                      120      Avatar            1200        95

In [ ]:
def add_movie():
    df = load_movies()

    movie_id = input("Enter Movie ID: ")
    movie_name = input("Enter Movie Name: ")
    price = float(input("Enter Ticket Price: "))
    seats = int(input("Enter Available Seats: "))
    show_time = input("Enter Show Timings: ")

    new_row = {
        "MovieID": movie_id,
        "MovieName": movie_name,
        "TicketPrice": price,
        "AvailableSeats": seats,
        "ShowTime": show_time
    }

    df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
    df.to_excel(MOVIE_FILE, index=False)

    print("Movie added successfully!")

In [ ]:
add_movie()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.


KeyboardInterrupt

In [ ]:
load_movies()

   MovieID MovieName  TicketPrice  AvailableSeats ShowTime
0        5      furu         1000               3     4:00
1        5       rtu         4556               8     4:00

In [ ]:
def view_movies():
    try:
        df = pd.read_excel(MOVIE_FILE)
    except FileNotFoundError:
        print("No movies found. Please add some movies first.")
        return

    if df.empty:
        print("No movies available in the file.")
        return

    print("\n--- Available Movies ---\n")

    for index, row in df.iterrows():
        print(f"Movie ID: {row['MovieID']}")
        print(f"Movie Name: {row['MovieName']}")
        print(f"Ticket Price: {row['TicketPrice']}")
        print(f"Available Seats: {row['AvailableSeats']}")
        print(f"Show Time: {row['ShowTime']}")
        print("-" * 30)

In [ ]:
view_movies()

--- Available Movies ---

Movie ID: 5
Movie Name: furu
Ticket Price: 1000
Available Seats: 3
Show Time: 4:00
------------------------------
Movie ID: 5
Movie Name: rtu
Ticket Price: 4556
Available Seats: 8
Show Time: 4:00
------------------------------

In [ ]:


BOOKINGS_FILE = "/content/bookings.xlsx"

def book_ticket():
    # Load movies file
    try:
        movies_df = pd.read_excel(MOVIE_FILE)
    except FileNotFoundError:
        print("No movies found. Please add some movies first.")
        return

    if movies_df.empty:
        print("No movies available.")
        return

    # Show movies to user
    print("\n--- Available Movies ---\n")
    print(movies_df[["MovieID", "MovieName", "TicketPrice", "AvailableSeats", "ShowTime"]])
    print()

    # Select movie
    movie_id = input("Enter the Movie ID you want to book: ")

    if movie_id not in movies_df["MovieID"].astype(str).values:
        print("Invalid Movie ID!")
        return

    movie = movies_df[movies_df["MovieID"].astype(str) == movie_id].iloc[0]

    # Ask for number of tickets
    num_tickets = int(input("Enter number of tickets: "))

    if num_tickets > movie["AvailableSeats"]:
        print("Not enough seats available!")
        return

    # Calculate total price
    total_price = num_tickets * movie["TicketPrice"]

    # Update available seats
    movies_df.loc[movies_df["MovieID"].astype(str) == movie_id, "AvailableSeats"] -= num_tickets
    movies_df.to_excel(MOVIE_FILE, index=False)

    # Save booking
    try:
        booking_df = pd.read_excel(BOOKINGS_FILE)
    except FileNotFoundError:
        booking_df = pd.DataFrame(columns=["MovieID", "MovieName", "NumTickets", "TotalPrice"])

    new_booking = {
        "MovieID": movie_id,
        "MovieName": movie["MovieName"],
        "NumTickets": num_tickets,
        "TotalPrice": total_price
    }

    booking_df = pd.concat([booking_df, pd.DataFrame([new_booking])], ignore_index=True)
    booking_df.to_excel(BOOKINGS_FILE, index=False)

    # Final summary
    print("\n--- Booking Successful! ---")
    print(f"Movie: {movie['MovieName']}")
    print(f"Tickets Booked: {num_tickets}")
    print(f"Total Price: {total_price}")
    print("----------------------------")

In [ ]:
book_ticket()

--- Available Movies ---

   MovieID MovieName  TicketPrice  AvailableSeats ShowTime
0        5      furu         1000               3     4:00
1        5       rtu         4556               8     4:00

Enter the Movie ID you want to book: 5
Enter number of tickets: 3

--- Booking Successful! ---
Movie: furu
Tickets Booked: 3
Total Price: 3000
----------------------------

In [ ]:
def search_movie():
    df = pd.read_excel(MOVIE_FILE)

    query = input("Enter Movie ID or Name to search: ").lower()

    # handle MovieID search
    if query.isdigit():
        results = df[df['MovieID'] == int(query)]
    else:
        results = df[df['MovieName'].str.lower().str.contains(query, na=False)]

    if results.empty:
        print("\nNo movie found.")
    else:
        print("\n--- Search Results ---\n")
        print(results)

In [ ]:
df.columns

Index(['MovieID', 'MovieName', 'TicketPrice', 'AvailableSeats', 'ShowTime'], dtype='object')

In [ ]:
search_movie()

Enter Movie ID or Name to search: furu

--- Search Results ---

   MovieID MovieName  TicketPrice  AvailableSeats ShowTime
0        5      furu         1000               0     4:00

In [ ]:
BOOKING_FILE = "/content/bookings.xlsx"   # or your actual file

def view_bookings():
    try:
        df = pd.read_excel(BOOKING_FILE)

        if df.empty:
            print("\nNo bookings found yet.")
            return

        print("\n--- All Bookings ---\n")
        print(df.to_string(index=False))   # cleaner table view

    except FileNotFoundError:
        print("\nNo bookings found yet. File does not exist!")

In [ ]:
view_bookings()

--- All Bookings ---

 MovieID MovieName  NumTickets  TotalPrice
       5      furu           5        5000
       5      furu           3        3000

In [ ]:
def main_menu():
    while True:
        print("\n===== MOVIE TICKETING SYSTEM =====")
        print("1. Add Movie")
        print("2. View Movies")
        print("3. Book Ticket")
        print("4. Search Movie")
        print("5. View Bookings")
        print("6. Exit")



        choice = input("\nEnter your choice: ")

        if choice == "1":
            add_movie()

        elif choice == "2":
            view_movies()

        elif choice == "3":
            book_ticket()

        elif choice == "4":
            search_movie()

        elif choice == "5":
            view_bookings()

        elif choice == "6":
            print("Exiting program...")
            break

        else:
            print("Invalid choice! Please enter 16.")

In [ ]:
main_menu()

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 1
Enter Movie ID: 8
Enter Movie Name: superman
Enter Ticket Price: 1000
Enter Available Seats: 9
Enter Show Timings: 7:00
Movie added successfully!

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 2

--- Available Movies ---

Movie ID: 5
Movie Name: furu
Ticket Price: 1000
Available Seats: 0
Show Time: 4:00
------------------------------
Movie ID: 5
Movie Name: rtu
Ticket Price: 4556
Available Seats: 5
Show Time: 4:00
------------------------------
Movie ID: 8
Movie Name: superman
Ticket Price: 1000
Available Seats: 9
Show Time: 7:00
------------------------------

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 3

--- Available Movies ---

   MovieID MovieName  TicketPrice  AvailableSeats ShowTime
0        5      furu         1000               0     4:00
1        5       rtu         4556               5     4:00
2        8  superman         1000               9     7:00

Enter the Movie ID you want to book: superman
Invalid Movie ID!

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 3

--- Available Movies ---

   MovieID MovieName  TicketPrice  AvailableSeats ShowTime
0        5      furu         1000               0     4:00
1        5       rtu         4556               5     4:00
2        8  superman         1000               9     7:00

Enter the Movie ID you want to book: 8
Enter number of tickets: 2

--- Booking Successful! ---
Movie: superman
Tickets Booked: 2
Total Price: 2000
----------------------------

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 4
Enter Movie ID or Name to search: superman

--- Search Results ---

   MovieID MovieName  TicketPrice  AvailableSeats ShowTime
2        8  superman         1000               7     7:00

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 5

--- All Bookings ---

 MovieID MovieName  NumTickets  TotalPrice
       5      furu           5        5000
       5      furu           3        3000
       8  superman           2        2000

===== MOVIE TICKETING SYSTEM =====
1. Add Movie
2. View Movies
3. Book Ticket
4. Search Movie
5. View Bookings
6. Exit

Enter your choice: 6
Exiting program...